<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
	<title>
		{% block page_name %}
		{% endblock %}
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'homepage/css/callout.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="/blog/"><span fontsize="10">Portfolio</span></a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		  	<form class="navbar-form navbar-right">
				<div class="form-group">
			  		<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
		  	</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">


		<div class="row">
			  <div class="col-sm-1">
				  <center>
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <center>
				  <h1>
					  {% block page_title %}
					  {% endblock %}
				  </h1>
				  </center>
			  </div>
		</div><hr>

		<div>
			   {% block content %}
			   {% endblock %}
		</div>

		{% block bottom %}
		{% endblock %}
	</div>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>

</body>

</html>